{# load the tag library #}
{% load bootstrap5 %}
{# load css and javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# display dijango.contrib.messages as bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" href="{% static 'honor/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a report</title>
</head>
<header>
        <div class = "top-banner"> </div>
            <img class = "logo" src= "{% static 'honor/images/Screenshot 2024-04-16 113934.png' %}"  alt="rotunda_logo"/>
<ul>
  <li><a href='/honor/'>Sign Out</a></li>  
  
  <li><a class="active" href='/honor/submitted'>View Reports</a></li>
    <li><a href='/honor/report'>Submit Report</a></li>
  <li><a href="../home/">Home</a></li>
  
</ul>
    
</header>
<div style="background-color: #ffffff;">
{#<div style="background-image: url({% static 'honor/images/uva_lawn_under_stars_tall.jpg' %}); background-size: cover;">#}
{#<img style="width:25%;" src= "{% static 'honor/images/scroll-jack-5_0.jpg' %}"  alt="rotunda"/>#}
    <div class="grid-container">
    <div>
       <h1 class = "subtitle" ><u>NEW</u></h1> 
        <div class="grid-container_inner">
    
            {% if report_list %}
            {% for report in report_list %}
                {% if report.status == 1 %}    
        
                    <div>
                        <button class="button-57" style="width:100%;" onclick="location.href = '{% url 'honor:reportDisplay' report.id %}'"><span class="text">Report {{ report.id }}</span><span>{{ report.timeStamp }}</span></button>
                    </div>
                {% endif %}
                
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <h1 class = "subtitle" ><u>IN PROGRESS</u></h1>
        <div class="grid-container_inner">
            {% if report_list %}
            {% for report in report_list %}
                {% if report.status == 2 %}    
        
                    <div>
                        <button class="button-57" style="width:100%;" onclick="location.href = '{% url 'honor:reportDisplay' report.id %}'"><span class="text">Report {{ report.id }}</span><span>{{ report.timeStamp }}</span></button>
                    </div>
                {% endif %}
                
            {% endfor %}
            {% endif %}
        </div>
    </div>

  <div>
      <h1 class = "subtitle" ><u>RESOLVED</u></h1>
        <div class="grid-container_inner">
            {% if report_list %}
            {% for report in report_list %}
            {% if report.status == 3 %}    
    
                <div>
                    <button class="button-57" style="width:100%;" onclick="location.href = '{% url 'honor:reportDisplay' report.id %}'"><span class="text">Report {{ report.id }}</span><span>{{ report.timeStamp }}</span></button>
                </div>
            {% endif %}
            
        {% endfor %}
        {% endif %}
    </div>   
  </div>
    </div>
    
   
       
    
</div>

</html>
<footer class=" text-white">
        <div class = "top-banner"> </div>
        <div class="container text-center"><br>
          <small>Copyright &copy; CS3240 <br> Author: A-32</small>
            <p> This site is for educational purposes and no data submitted is actually monitored or taken seriously</p>
        </div>
    </footer>